* {
  margin: 0;
  padding: 0;
  color: #65b6fc;
}

.App {
  display: flex;
  flex-direction: column;

  width: 100vw;
  min-height: 100vh;
  background-color: #213c53;
  justify-content: center;
  align-items: center;
}

.me-108 {
  padding: 15px;
  font-size: 45px;

  color: #65b6fc;
  text-align: center;

  /* width: 500px;
  height: 200px; */
  /* text-align: center; */
  /* align-self: center; */
  /* background-color: wheat; */
}

.telegram {
  position: relative;
  top: 18px;
  left: -5px;

  /* background-color: aliceblue; */
}

.contact-108 {
  font-size: 22px;
}

@media (max-width: 700px) {
  .me-108 {
    font-size: 34px;
  }
}
