* {
    margin: 0;
    padding: 0;
    color: #65b6fc;
    color: #d1d1f5;
}

html {
    height: 100vh;
    width: 100%;
    /* background-color: #213c53; */
    /* background: rgb(73, 121, 217); */
    background: rgb(42, 44, 185);
    background: linear-gradient(
        90deg,
        rgba(42, 44, 185, 1) 14%,
        rgba(42, 44, 185, 1) 37%,
        rgba(36, 36, 171, 1) 75%,
        rgba(36, 33, 121, 1) 100%
    );

    font-size: 32px;
}

.App {
    display: flex;
    flex-direction: column;

    /* background-color: #213c53; */

    background: rgb(73, 121, 217);
    background: rgb(42, 44, 185);
    background: linear-gradient(
        90deg,
        rgba(42, 44, 185, 1) 14%,
        rgba(42, 44, 185, 1) 37%,
        rgba(36, 36, 171, 1) 75%,
        rgba(36, 33, 121, 1) 100%
    );

    align-items: flex-start;
}

.present-container {
    display: flex;
    flex-direction: column;
}

.me-108 {
    padding: 15px;
    box-sizing: border-box;
    font-size: 4.5vw;

    color: #65b6fc;
    color: #d1d1f5;
}

.contact-108 {
    padding: 12px;
    box-sizing: border-box;
}

.contact-108 p {
    padding: 4px;
}

.what-i-did-container {
    padding: 32px;
}

.what-i-did-container li {
    margin-left: 46px;
    padding: 12px;
}

.telegram {
    position: relative;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .App {
        flex-direction: column;
    }

    html {
        font-size: 25px;
        height: 85vh;
    }

    .me-108 {
        font-size: 32px;
    }
}
